.table-container {
  width: 100%;
  margin-top: 10px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table-container h2 {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #f5f5f5;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background: #f9f9f9;
}

/* Type colors */
.income {
  color: green;
  font-weight: bold;
}

.expense {
  color: red;
  font-weight: bold;
}

/* Button */
.delete-btn {
  background: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn:hover {
  background: darkred;
}

/* No data */
.no-data {
  text-align: center;
  padding: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.filter-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-box input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.filter-btn {
  background: #2196f3;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.reset-btn {
  background: gray;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-box select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
